# Default ignored files
/shelf/
/workspace.xml

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# Build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
